{% extends 'core/base.html' %}

{% block content %}
  <body id="corpo-espacos">

	   <!-- Topo 1 internas -->
	 <div class="container-fluid topo-1"></div>

	  <!-- Topo 2 internas -->
	 <div class="container-fluid topo-2">
		<div class="container">
            <div class="row">
                <div class="col-md-6 area-titulo">
					<a href="index.html"><h4>Cartografias Musicais do RJ</h4></a>
				</div>

				<div class="col-md-6 area-titulo">
					<div class="nav-topo" >
						<ul>
							  <li><a href="espacos.html">Espaços</a></li>
							  <li><a href="musica.html">Música</a></li>
							  <li><a href="grupos.html">Grupos</a></li>
							  <li><a href="corpos.html">Corpos</a></li>
							  <li><a href="narrativas.html">Narrativas</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	 </div>
	 <!-- cabeçalho -->
		<div id="header" class="home">
			<div class="container">
			  <div class="header-content">
					<center><h3>Contato</h3></center>
			  </div>
			</div>
		</div>





		<!-- Corpo do site -->
		<div class="container-fluid">
            <div class="row">

				<div class="col-md-2 lc "></div>

				<div class="col-md-8 equipe">
					<br>
						 <div class="row">
							<div class="col-md-1">
								<span class="icon"><i class="fa fa-envelope-o"></i></span>
							</div>
							<div class="col-md-7">
								<p>Para esclarecimentos de dúvidas e a realização de contatos com a coordenação desta iniciativa, por gentileza enviar e-mails para: <strong>labcacfcs@gmail.com</strong></p>
							</div>
						</div>
					<br>
						 <div class="row">
							<div class="col-md-1">
								<span class="icon"><i class="fa fa-map-marker"></i></span>
							</div>
							<div class="col-md-7">
								<p>Rua São Francisco Xavier, 524, 10º andar, bloco F, Pavilhão João Lyra Filho, Rio de Janeiro, RJ, Brasil.</p>
							</div>
						</div>
					<br>
						<div class="row">
							<div class="col-md-1">
								<span class="icon"><i class="fa fa-phone-square"></i></span>
							</div>
							<div class="col-md-6">
								<p>(00 55 21) 2334-0757</p>
							</div>
						</div>
				</div>

		<!--				<div class="col-md-2 ld">

			<div id="menu-quem" >
						<ul>
						  <li><a href="apresenta.html">Apresentação</a></li>
						  <li><a href="equipe.html">Equipe</a></li>
						  <li><a href="contato.html">Contato</a></li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>


{% endblock %}
